<%- include('header'); -%>
        <div class="container-form">
            
            <h1> <%= today %> </h1>
            <h3> <%= listTittle %> </h3>
            <div class="box">
                
                <% newList.forEach( obj => { %>
                    <form action="/delete" method="post">
                        <div class="item">

                            <input type="checkbox" name="checkbox" value="<%= obj._id %>" onchange="this.form.submit()">
                            <a href=" /<%= obj._id %> " value="<%= obj.name %>" > <%= obj.name %> </a>
                                     
                        </div>
                    </form>
                <% }) %>
                
            </div>

            <form class="form" action="/" method="post">
                <input type="text" name="todoInput" id="todo-input" placeholder="Digite seu TODO">
                <button type="submit" name="button">Enviar</button>
            </form>
    
        </div>
<%- include ('footer') -%>
